@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   transition: all 0.2s linear;
   outline: none;
}

body {
   font-family: 'Inter', sans-serif;
}

.highlight {
   @apply px-3 py-3 rounded-md bg-stone-100;
}
